[submodule "src/vision"]
	path = src/vision
	url = https://github.com/Danendra10/vision.git
[submodule "src/comm"]
	path = src/comm
	url = https://github.com/azzamwildan462/comm.git
[submodule "src/master"]
	path = src/master
	url = https://github.com/Danendra10/master.git
