[submodule "src/vision"]
	path = src/vision
	url = https://github.com/Danendra10/vision.git
[submodule "src/comm"]
	path = src/comm
	url = https://github.com/azzamwildan462/comm.git
	branch = main
[submodule "src/master"]
	path = src/master
	url = https://github.com/Danendra10/master.git
[submodule "src/attacker"]
	path = src/attacker
	url = https://github.com/azzamwildan462/attacker.git
[submodule "src/goalkeeper"]
	path = src/goalkeeper
	url = https://github.com/azzamwildan462/goalkeeper.git
	
[submodule "src/defender"]
	path = src/defender
	url = https://github.com/Danendra10/defender.git
[submodule "src/assist"]
	path = src/assist
	url = https://github.com/Danendra10/assist.git
[submodule "src/motion"]
	path = src/motion
	url = https://github.com/Danendra10/motion.git
[submodule "src/utils"]
	path = src/utils
	url = https://github.com/Danendra10/utils.git
[submodule "src/multirole_func"]
	path = src/multirole_func
	url = https://github.com/iangavriel/multirole_func.git
